<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Women's Education</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="script.js" defer></script>

<!--   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>

<body>
    <ul id="nav_bar">
  <li><a href="index.html">Home</a></li>
  <li><a href="about.html">How To Help</a></li>
</ul>
  
  <h1 id="header">
    Empowering Women Empowers The World
  </h1>
  <script src="script.js"></script>
<break>
</break>

  <div id="info">
  <p>
    Today, 62 million girls aren't in schools, and millions more are fighting to stay. Compared to the 91% of males who have access to primary education, only 88% of girls have the same access.  
  </p>

  <h2>
    Facts about women's education
  </h2>
  <button id="myBtn"> Give me a Fact </button>
    <p id="fact"> </p>

  </div>



</body>

</html>
